### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
.idea
.git
venv
db.sqlite3
docker-compose.yml
docker-compose-pro.yml
Telegram/static
Telegram/celerybeat-schedule
Telegram/celerybeat.pid
*.sql.gz
